@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

$primaryFont: 'Lato', sans-serif;

$primaryColor: #ffffff;
$secondaryColor: #000000;
$tertiaryColor: #669966;

$lightenSecondaryColor: lighten($secondaryColor, 50%);
$darkenPrimaryColor: darken($primaryColor, 20%);

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font: normal 16px $primaryFont;

  section {
    padding: 80px 15px 130px;

    @media (max-width: 991px) {
      padding: 80px 30px 130px;
    }

    h2 {
      margin-top: 0;
      font: 600 34px $primaryFont;
      position: relative;
      top: 26px;
      letter-spacing: 7px;

      @media (max-width: 1800px) {
        font-size: 32px;
        line-height: 1.1;
      }

      @media (max-width: 1599px) {
        font-size: 30px;
      }

      @media (max-width: 1366px) {
        font-size: 28px;
      }
    }

    .container {
      padding: 0 180px 30px;
      max-width: 900px;
      overflow: hidden;

      @media (max-width: 991px) {
        max-width: 100%;
      }

      @media (max-width: 767px) {
        padding: 0 19vw 30px;
      }

      @media (max-width: 640px) {
        padding: 0 14vw 30px;
      }

      img {
        width: 70px;
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
      }

      h3 {
        padding: 20px 0;
        font: 600 20px $primaryFont;
        letter-spacing: 4px;
      }

      ul {
        list-style-type: none;
        padding: 0;
        line-height: 30px;

        li {
          padding: 10px 0;

          i {
            padding-right: 10px;
          }
        }
      }
    }
  }

  .container {
    max-width: 1920px;
    margin: 0 auto;
    border: 2px solid $secondaryColor;
    border-top: none;

    @media (max-width: 991px) {
      max-width: 100%;
    }

    .lines-container {
      margin-top: 0;
      padding-bottom: 94px;
      display: inline-block;
      position: relative;

      &:after {
        left: 100%;
        margin-left: 200px;

        @media (max-width: 767px) {
          margin-left: 184px;
        }

        @media (max-width: 640px) {
          margin-left: 150px;
        }

        @media (max-width: 479px) {
          margin-left: 117px;
        }
      }

      &:before {
        right: 100%;
        margin-right: 200px;

        @media (max-width: 767px) {
          margin-right: 184px;
        }

        @media (max-width: 640px) {
          margin-right: 150px;
        }

        @media (max-width: 479px) {
          margin-right: 117px;
        }
      }

      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 0;
        border-top: 2px solid $secondaryColor;
        width: 700px;
        height: 2px;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      line-height: 24px;
      margin-bottom: 25px;
    }
  }
}