.equipment {
  background: $tertiaryColor url("../img/bg_3.jpg") no-repeat center/cover;
  color: $primaryColor;
  text-shadow: 2px 2px 4px #000000;

  .container {
    border: 2px solid $primaryColor;
    border-top: none;

    .lines-container {
      &:after,
      &:before {
        border-top: 2px solid $primaryColor;
      }
    }

    ul {
      li {
        a {
          color: $primaryColor;

          &:hover {
            color: $darkenPrimaryColor;
          }
        }
      }
    }
  }
}