footer {
  padding: 71px 0;

  .container {
    border: none;

    p {
      a {
        color: $secondaryColor;

        &:hover {
          color: $lightenSecondaryColor;
        }
      }
    }
  }
}