header {
  background: $tertiaryColor url("../img/bg_1.jpg") no-repeat center/cover;
  padding: 120px 15px;
  color: $primaryColor;

  .container {
    text-align: center;
    padding: 300px 180px 258px;
    max-width: 900px;
    text-shadow: 2px 2px 4px #000000;
    position: relative;
    border: none;

    @media (max-width: 1199px) {
      padding: 60px 180px 45px;
    }

    @media (max-width: 991px) {
      padding-top: 30px;
    }

    @media (max-width: 767px) {
      padding: 0 19vw;
      padding-top: 50px;
    }

    @media (max-width: 640px) {
      padding: 0 14vw;
    }

    @media (max-width: 640px) {
      padding: 0 4vw;
    }

    .navbar-inverse {
      background-color: $primaryColor;

      .navbar-header {
        .navbar-toggle {
          border-color: inherit;

          &:focus,
          &:hover {
            background-color: $primaryColor;
          }

          .icon-bar {
            background-color: $secondaryColor;
            width: 20px;
            height: 3px;
          }
        }
      }

      .navbar-collapse {
        .navbar-nav {
          li {
            a {
              color: $secondaryColor;
              text-shadow: none;
              font-weight: 600;

              &:focus,
              &:hover {
                text-decoration: none;
              }
            }

            &.active {
              a {
                background-color: $tertiaryColor;
                color: $primaryColor;
              }
            }
          }
        }
      }
    }

    h1 {
      font: 600 57px/62px $primaryFont;
      margin-bottom: 33px;
      letter-spacing: 11px;

      @media (max-width: 1800px) {
        font-size: 53px;
        line-height: 1.1;
      }

      @media (max-width: 1599px) {
        font-size: 49px;
      }

      @media (max-width: 1366px) {
        font-size: 45px;
      }

      @media (max-width: 1199px) {
        font-size: 41px;
      }

      @media (max-width: 991px) {
        font-size: 37px;
      }

      @media (max-width: 767px) {
        font-size: 33px;
      }
    }

    p {
      line-height: 29px;
    }

    .icon-scroll,
    .icon-scroll:before {
      position: absolute;
      left: 50%;
    }

    .icon-scroll {
      width: 22px;
      height: 38px;
      bottom: 62px;
      margin: -19px 0 0 -11px;
      box-shadow: inset 0 0 0 2px #fff;
      border-radius: 25px;

      @media (max-width: 1199px) {
        bottom: -36px;
      }
    }

    .icon-scroll:before {
      content: '';
      width: 4px;
      height: 9px;
      background: #fff;
      margin-left: -2px;
      top: 4px;
      border-radius: 2px;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-name: scroll;
    }

    @keyframes scroll {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        transform: translateY(17px);
      }
    }
  }
}