.services {
  padding: 50px 15px;

  .container {
    border: 1px solid black;
    padding: 30px;


    h2 {
      padding: 20px 0;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        padding: 10px 0;

        i {
          padding-right: 10px;
        }
      }
    }

    @media (max-width: 991px) {
   
    }


}


}