@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 16px;
}

body h1 {
  letter-spacing: 7px;
}

body .container {
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  body .container {
    max-width: 100%;
  }
}

body .container .lines-container {
  margin-top: 0;
  padding-bottom: 94px;
  display: inline-block;
  position: relative;
}

body .container .lines-container:after {
  left: 100%;
  margin-left: 200px;
}

@media (max-width: 767px) {
  body .container .lines-container:after {
    margin-left: 184px;
  }
}

@media (max-width: 640px) {
  body .container .lines-container:after {
    margin-left: 150px;
  }
}

@media (max-width: 479px) {
  body .container .lines-container:after {
    margin-left: 117px;
  }
}

body .container .lines-container::before {
  right: 100%;
  margin-right: 200px;
}

@media (max-width: 767px) {
  body .container .lines-container::before {
    margin-right: 184px;
  }
}

@media (max-width: 640px) {
  body .container .lines-container::before {
    margin-right: 150px;
  }
}

@media (max-width: 479px) {
  body .container .lines-container::before {
    margin-right: 117px;
  }
}

body .container .lines-container:after, body .container .lines-container:before {
  content: "";
  position: absolute;
  height: 2px;
  border-top: 2px solid #000000;
  top: 0;
  width: 700px;
}

body .container h2 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 4px;
}

body .container a:hover {
  text-decoration: underline;
}

body .container p {
  line-height: 24px;
  margin-bottom: 25px;
}

header {
  background: #18335b url("../img/26.jpeg") no-repeat center/cover;
  padding: 120px 15px;
  color: #ffffff;
}

header .container {
  text-align: center;
  padding: 300px 180px 258px;
  max-width: 900px;
  text-shadow: 2px 2px 4px #000000;
  position: relative;
}

@media (max-width: 1199px) {
  header .container {
    padding-bottom: 45px;
    padding-top: 60px;
  }
}

@media (max-width: 991px) {
  header .container {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  header .container {
    padding: 0 19vw;
  }
}

@media (max-width: 640px) {
  header .container {
    padding: 0 14vw;
  }
}

@media (max-width: 640px) {
  header .container {
    padding: 0 4vw;
  }
}

header .container h1 {
  font-size: 57px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 33px;
  letter-spacing: 11px;
}

@media (max-width: 1800px) {
  header .container h1 {
    font-size: 53px;
    line-height: 1.1;
  }
}

@media (max-width: 1599px) {
  header .container h1 {
    font-size: 49px;
  }
}

@media (max-width: 1366px) {
  header .container h1 {
    font-size: 45px;
  }
}

@media (max-width: 1199px) {
  header .container h1 {
    font-size: 41px;
  }
}

@media (max-width: 991px) {
  header .container h1 {
    font-size: 37px;
  }
}

@media (max-width: 767px) {
  header .container h1 {
    font-size: 33px;
  }
}

header .container p {
  line-height: 29px;
}

header .container .icon-scroll,
header .container .icon-scroll:before {
  position: absolute;
  left: 50%;
}

header .container .icon-scroll {
  width: 22px;
  height: 38px;
  margin-left: -11px;
  bottom: 62px;
  margin-top: -19px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
}

@media (max-width: 1199px) {
  header .container .icon-scroll {
    bottom: -36px;
  }
}

header .container .icon-scroll:before {
  content: '';
  width: 4px;
  height: 9px;
  background: #fff;
  margin-left: -2px;
  top: 4px;
  border-radius: 2px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(17px);
  }
}

.about-us {
  padding: 80px 15px 130px;
  color: #000000;
}

@media (max-width: 991px) {
  .about-us {
    padding: 80px 30px 130px;
  }
}

.about-us h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 34px;
  position: relative;
  top: 26px;
}

@media (max-width: 1800px) {
  .about-us h1 {
    font-size: 32px;
    line-height: 1.1;
  }
}

@media (max-width: 1599px) {
  .about-us h1 {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .about-us h1 {
    font-size: 28px;
  }
}

.about-us .container {
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 0 180px 30px;
  max-width: 900px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .about-us .container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .about-us .container {
    padding: 0 19vw 30px;
  }
}

@media (max-width: 640px) {
  .about-us .container {
    padding: 0 14vw 30px;
  }
}

.about-us .container .lines-container {
  padding-bottom: 65px;
}

.equipment {
  background: #18335b url("../img/4.jpg") no-repeat center/cover;
  padding: 80px 15px 130px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 991px) {
  .equipment {
    padding: 80px 30px 130px;
  }
}

.equipment h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 34px;
  position: relative;
  top: 26px;
}

@media (max-width: 1800px) {
  .equipment h1 {
    font-size: 32px;
    line-height: 1.1;
  }
}

@media (max-width: 1599px) {
  .equipment h1 {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .equipment h1 {
    font-size: 28px;
  }
}

.equipment .container {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  padding: 0 180px 30px;
  max-width: 900px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .equipment .container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .equipment .container {
    padding: 0 19vw 30px;
  }
}

@media (max-width: 640px) {
  .equipment .container {
    padding: 0 14vw 30px;
  }
}

.equipment .container .lines-container:after, .equipment .container .lines-container:before {
  border-top: 2px solid #ffffff;
}

.equipment .container img {
  width: 70px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.equipment .container h2 {
  padding: 20px 0;
}

.equipment .container ul {
  list-style-type: none;
  padding: 0;
  line-height: 30px;
}

.equipment .container ul li {
  padding: 10px 0;
}

.equipment .container ul li i {
  padding-right: 10px;
}

.equipment .container ul li a {
  color: #ffffff;
}

.equipment .container ul li a:hover {
  color: #cccccc;
}

.products {
  padding: 50px 0;
  display: none;
}

.products .container {
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
}

.products .container .row .col-lg-4 {
  height: 236px;
  width: calc(33.33333333% - 10px);
  margin: 0 5px;
  position: relative;
}

.products .container .row .col-lg-4:nth-of-type(1) {
  background: #18335b url(../img/deska.jpg) no-repeat center/cover;
}

.products .container .row .col-lg-4:nth-of-type(2) {
  background: #18335b url(../img/wierzby.jpeg) no-repeat center/cover;
}

.products .container .row .col-lg-4:nth-of-type(4) {
  background: #18335b url(../img/laty.jpg) no-repeat center/cover;
}

.products .container .row .col-lg-4:nth-of-type(7) {
  background: #18335b url(../img/kontrlaty.jpg) no-repeat center/cover;
}

.products .container .row .col-lg-4:nth-of-type(9) {
  background: #18335b url(../img/tarcica.JPG) no-repeat center/cover;
}

.products .container .row .col-lg-4:nth-of-type(10) {
  background: #18335b url(../img/scinki.jpg) no-repeat center/cover;
}

.products .container .row .col-lg-4:nth-of-type(14) {
  background: #18335b url(../img/sztachety.jpg) no-repeat center/cover;
  display: none;
}

.products .container .row .col-lg-4 h3 {
  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 47px;
  font-size: 34px;
}

.products .container .row .clearfix {
  margin-bottom: 10px;
}

.price-list {
  padding: 80px 15px 130px;
}

@media (max-width: 991px) {
  .price-list {
    padding: 80px 30px 130px;
  }
}

.price-list h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 34px;
  position: relative;
  top: 26px;
}

@media (max-width: 1800px) {
  .price-list h1 {
    font-size: 32px;
    line-height: 1.1;
  }
}

@media (max-width: 1599px) {
  .price-list h1 {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .price-list h1 {
    font-size: 28px;
  }
}

.price-list .container {
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 0 180px 30px;
  max-width: 900px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .price-list .container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .price-list .container {
    padding: 0 19vw 30px;
  }
}

@media (max-width: 640px) {
  .price-list .container {
    padding: 0 14vw 30px;
  }
}

.price-list .container img {
  width: 70px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.price-list .container h2 {
  padding: 20px 0;
}

.price-list .container ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 89px;
  line-height: 30px;
}

.price-list .container ul:last-child {
  padding-bottom: 0;
}

.price-list .container ul li {
  padding: 10px 0;
}

.price-list .container ul li i {
  padding-right: 10px;
}

.services {
  background: #18335b url("../img/2.jpeg") no-repeat center/cover;
  padding: 80px 15px 130px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 991px) {
  .services {
    padding: 80px 30px 130px;
  }
}

.services h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 34px;
  position: relative;
  top: 26px;
}

@media (max-width: 1800px) {
  .services h1 {
    font-size: 32px;
    line-height: 1.1;
  }
}

@media (max-width: 1599px) {
  .services h1 {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .services h1 {
    font-size: 28px;
  }
}

.services .container {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  padding: 0 180px 30px;
  max-width: 900px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .services .container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .services .container {
    padding: 0 19vw 30px;
  }
}

@media (max-width: 640px) {
  .services .container {
    padding: 0 14vw 30px;
  }
}

.services .container .lines-container:after, .services .container .lines-container:before {
  border-top: 2px solid #ffffff;
}

.services .container img {
  width: 70px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.services .container h2 {
  padding: 20px 0;
  margin-bottom: 0;
}

.services .container ul {
  list-style-type: none;
  padding: 0;
}

.services .container ul li {
  padding: 10px 0;
}

.services .container ul li i {
  padding-right: 10px;
  font-size: 16px;
}

.contact {
  padding: 80px 15px 0;
}

@media (max-width: 991px) {
  .contact {
    padding: 80px 30px 0;
  }
}

.contact h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 34px;
  position: relative;
  top: 26px;
}

@media (max-width: 1800px) {
  .contact h1 {
    font-size: 32px;
    line-height: 1.1;
  }
}

@media (max-width: 1599px) {
  .contact h1 {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .contact h1 {
    font-size: 28px;
  }
}

.contact .container {
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 0 180px 30px;
  max-width: 900px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .contact .container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .contact .container {
    padding: 0 19vw 30px;
  }
}

@media (max-width: 640px) {
  .contact .container {
    padding: 0 14vw 30px;
  }
}

.contact .container .lines-container {
  padding-bottom: 65px;
}

.contact .container address a {
  color: #000000;
}

.contact .container address a:hover {
  color: #807f7f;
}

footer {
  padding: 71px 0;
}

footer .container p a {
  color: #000000;
}

footer .container p a:hover {
  color: #807f7f;
}

/*# sourceMappingURL=style.css.map */